* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: 100svh;
}

.main {
  border: 1px solid black;
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main__text {
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main__output {
  border: 1px solid black;
  width: 340px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}